@import '_context';
.product{
    height: 50rem;
    background-color: white;
    .ctsp-product-title{
        height: 3rem;
        background-color: #F5F5F5;
        ul{
            padding-top: 1rem;
            padding-left: 0rem
        }
    }
}
@import '_ctsp-product';
@import '_infor-detail-product';
