.condensed-Full-Width-Table{
   .bordered-Table{
        .bordered-Table-content{
            table{
                th{
                    padding-right: 1rem;
                }
                tbody{
                   tr{
                        border-bottom: 1px solid $boderContent;
                        td{
                            padding: 0.2rem 1rem 0.2rem 0rem;
                        }
                   }
                }
            }
        }
   }
}
@media (min-width:1080px) { 
    .condensed-Full-Width-Table{
        .bordered-Table{
             .bordered-Table-content{
                 table{
                    width: 100%;
                 }
             }
        }
     }
 }