@mixin input-check-radio{
    width: 1rem;
    height: 1rem;
    
}
@mixin label-check-radio{
    position: absolute;
    top: -3px;
    left: 23px;
    width: 19rem;
    font-size: 0.95rem;
    font-weight: bold;
}
@mixin content-check-radio{
    content: '';
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border: 1px solid;
}
.custom-Elements{
    @include formAll;
    height: 52rem;
    .custom-Elements-header{
        @include formAll-Header;
        background-color: #6C757D;
    }
    .custom-Elements-content{
        margin-left: 1.5rem;
        .form-group{
            margin-top: 1rem;
            .custom-checkbox{
                position: relative;
                input{
                    @include input-check-radio;
                }
                label{
                    @include label-check-radio;
                }
                #CustomCheckbox:focus,#CustomCheckboxChecked:focus{
                    box-shadow: 0 0 5px rgb(82, 118, 236);
                }
                #CheckboxWithCustomColor:focus,#CheckboxWithCustomColorOutline:focus{
                    box-shadow: 0 0 5px rgb(243, 58, 58) ;
                }
                #CheckboxWithCustomColor ,#CheckboxWithCustomColorOutline{
                    display: none;
                }
                #CheckboxWithCustomColor:checked~i ,#CheckboxWithCustomColorOutline:checked~i{
                        display: block;
                }
               
            }
            .custom-color-checkbox{
                position: relative;
                .check-one{
                    display: none;
                    color: white;
                    padding: 0.1rem;
                    background-color: red;
                    position: absolute;
                    left: -1.4rem;
                    border-radius: 2px;
                    top: 0.33rem;
                    font-size: 0.8rem;
               }
            }
            .custom-color-checkbox-outline{
                position: relative;
                .check-two{
                    display: none;
                    padding: 0.1rem;
                    color: red;
                    position: absolute;
                    left: -1.4rem;
                    border-radius: 2px;
                    top: 0.33rem;
                    font-size: 0.8rem;
               }
            }
            .custom-color-checkbox::before ,.custom-color-checkbox-outline::before{
                @include content-check-radio;
                border-radius: 2px;
            }   

            .custom-radio{
                position: relative;
                input{
                    @include input-check-radio;
                }
                label{
                    @include label-check-radio;
                }
                #CustomRadioWithCustomColor ,#CustomRadioWithCustomColorOutline{
                    display: none;
                }
                #CustomRadioWithCustomColor:checked~i ,#CustomRadioWithCustomColorOutline:checked~i{
                    display: block;
                    border-radius: 50%;
            }
            }
            .custom-color-radio{
                position: relative;
                .dot-one{
                    display: none;
                    color: white;
                    background-color: red;
                    position: absolute;
                    left: -1.45rem;
                    top: 0.33rem;
                    border: 1px solid red;
                    font-size: 1.1rem;
               }
            }
            .custom-color-radio-outline{
                position: relative;
                .dot-two{
                    display: none;
                    color: red;
                    position: absolute;
                    left: -1.4rem;
                    top: 0.33rem;
                    font-size: 1.1rem;
               }
            }
            .custom-color-radio::before ,.custom-color-radio-outline::before{
                @include content-check-radio;
                border-radius: 50%;
            }   
            .toggle{
                margin-top: 1rem;
                .slider{
                    width: 2.2rem;
                    position: relative;
                    height: 1.1rem;
                    border-radius: 20px;
                    background-color: #DEE2E6;
                }
                .slider-check3{
                    background-color: #E5E8EB;
                }
                .slider-check2{
                    background-color: #DC3545;
                }
                .slider-check1::before,.slider-check2::before,.slider-check3::before{
                    content: '';
                    position: absolute;
                    width: 0.8rem;
                    top: 2px;
                    left: 2px;
                    height: 0.8rem;
                    border-radius: 50%;
                    transition: 0.5s;
                    background-color: #ADB5BD;
                }
                .slider-check1::before{
                    background-color: #ADB5BD;
                }
                .slider-check2::before{
                    background-color: #7C151F;
                }
                #check1,#check2,#check3{
                    //dấu đi
                    display: none;
                }
                #check1:checked + .slider {
                    background-color: #007BFF;
                }
                #check2:checked + .slider{
                    background-color: #28A745;
                }
                #check1:checked + .slider::before,
                #check2:checked + .slider::before,
                #check3:checked + .slider::before{
                    transform: translateX(20px);
                }
                #check1:checked + .slider::before{
                     background-color: #DEE2E6;
                }
                #check2:checked + .slider::before{
                    background-color: #86E29B;
               }
               p{
                font-weight: bold;
               }
            }
            .CustomRange{
                p{
                    font-weight: bold;
                }
                .silder-ranger{
                    -webkit-appearance: none;
                    width: 18rem;
                    height: 0.7rem;
                    border-radius: 20px;
                    background: #d3d3d3;
                    opacity: 0.7;
                }
                .silder-ranger::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                } 
                .ranger1::-webkit-slider-thumb {
                  background-color: #007BFF;
                }
                .ranger2::-webkit-slider-thumb {
                    background-color: #DC3545;
                }
                .ranger3::-webkit-slider-thumb {
                    background-color: #20C997;
                }
                .silder-ranger::-moz-range-thumb {
                    cursor: pointer;
                }  
            }
            
        }
        .cusRadio{
            margin-top: 2rem;
        }

    }
}

@media (min-width:1080px) { 
    .custom-Elements{
        width: 96%;
        height: 40rem;
        font-size: 0.7rem;
        .custom-Elements-content{
            .form-group{
                margin-top: 1rem;
                .custom-checkbox,.custom-radio{
                    label{
                        width: 13rem;
                        font-size: 0.7rem;
                    }
                }
                .toggle{
                       p{
                        width: 85%;
                       }
                }
                .custom-color-checkbox{
                    .check-one{
                        top: 3px;
                   }
                }
                .custom-color-checkbox-outline{
                    position: relative;
                    .check-two{
                        top: 2px;
                   }
                }
                .custom-color-radio{
                    .dot-one{
                        top: 0px;
                   }
                }
                .custom-color-radio-outline{
                    .dot-two{
                        top: 1px;
                   }
                }
                .CustomRange{
                    margin-top: 1rem;
                    .silder-ranger{
                        width: 90%;
                    }
                }
                
            }
        }
    }
}
