.different-Styles{
    @include formAll;
    height: 50rem;
    .different-Styles-header{
        @include formAll-Header;
        background-color: #007BFF;
    }
    .different-Styles-content{
        h4{
            padding: 1rem 1rem 0rem 1.5rem;
        }
        .form-group{
            margin-top: 1rem;
            padding-left: 1.5rem;
            label{
                font-weight: bold;
            }
            input ,select{
                width: 19rem;
                height: 2.5rem;
                padding-left: 1rem;
                margin-top: 1rem;
                outline: none;
            }
            #exampleInputBoder:focus ,#exampleSelectBoder:focus{
                border-bottom: 1px solid rgb(112, 112, 241) !important;
            }
            #exampleInputBoder ,#exampleSelectBoder{
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $boderContent;
            }
            #exampleInputBoderWidth2 ,#exampleSelectBoderWidth2{
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid $boderContent;
            }
            #exampleInputBoderWidth2:focus ,#exampleSelectBoderWidth2:focus{
                border-bottom: 2px solid rgb(112, 112, 241) !important;
            }
            #exampleInputFlat ,#exampleSelectFlat{
                border: 1px solid  $boderContent;
            }
            #exampleInputFlat:focus , #exampleSelectFlat:focus{
                border: 1px solid rgb(112, 112, 241) !important;
            }
        }
    }
}
@media (min-width:1080px) { 
    .different-Styles{
        @include formAll;
        width: 50%;
        .different-Styles-content{
            .form-group{
                input ,select{
                    width: 90%;
                }
            }
        }
    }
 }
 