 .different-Wight{
        @include formAll;
        height: 8rem;
        .different-Wight-header{
            @include formAll-Header;
            background-color: #DC3545;
        }
        .different-Wight-content{
            .row{
                margin-top: 1rem;
                width: 90%;
                margin-left: 1.5rem;
                input{
                    width: 97%;
                    outline: none;
                    padding-left: 0.5rem;
                    height: 2.5rem;
                    border-radius: 5px;
                    border: 1px solid $boderContent;
                }
            }
        }
    }
 @media (min-width:1080px) { 
    .different-Wight{
        width: 96%;
    }
}
    