footer{
    background-color: #FFFFFF;
    margin-top: 1rem;
    width: 100%;
    padding-left: 1rem;
    p:last-child{
        margin-left: 10rem;
        display: none;
    }
}
@media (min-width:1080px) { 
    footer{
        background-color: #FFFFFF;
        margin-top: 1rem;
        padding-left: 17rem;
        p:last-child{
            margin-left: 30rem;
            display: block;
        }
    }
 }