nav{
    height: 3.5rem;
    .navbar-two ,.navbar-one {
        padding: 1rem;
        color: rgb(126, 128, 128);
     }
    .navbar-two li:nth-child(2) ,.navbar-two li:nth-child(3){
        position: relative;
    }
    .navbar-one{
        .display-hidden{
            p{
                margin-left: 1rem;
                display: none;
            }
        }
        i{
            margin-left: 0.5rem;
        }
    }
  
    .navbar-two {
        position: absolute;
        right: 1rem;
        li{
            margin-left: 2rem;
            .searchNav{
                display: none ;
                .search-nav{
                    border:none;
                    height: 2rem;
                    position: absolute;
                    right: 0;
                    background-color: #F5F5F5;
                    top: 0.5rem;
                    z-index: 100;
                    left: -5rem;
                    input{
                        width: 250px;
                        padding: 0.2rem 1rem 0.2rem 0.5rem;
                        border: none;
                        outline: none;
                        background-color: #F5F5F5;
                       
                    }
                    .clear-search{
                        cursor: pointer;
                        visibility: hidden;
                        color: rgb(132, 132, 234) ;
                    }
                    .search-nav-icon{
                        margin-left: 2rem;
                        i{
                            display: inline-block;
                            padding-top: 0.5rem;
                            margin-right: 0.5rem;
                            color: black;
                        }
                    }
                    
                }
            }
            .infro-chat{
                width: 18rem;
                display: none;
                position: absolute;
                left: -11rem;
                top: 2rem;
                z-index: 100;
                border: 1px solid $boderContent;
                border-radius: 5px;
                background-color: white;
                .item-chat{
                    width: 18rem;
                    border-bottom: 1px solid $boderContent;
                    height: 5rem;
                    .item-chat-img{
                        text-align: center;
                        img{
                            margin-top: 0.5rem;
                            width: 70%;
                            height: 70%;
                            border-radius: 100%;
                        }
                    }
                    .item-chat-text{
                        margin-top: 1.4rem;
                        p{
                            font-size: 0.8rem;
                            color: #000;
                            margin-top: -16px;
                        }
                        p:first-child{
                            font-size: 1rem;
                            i{
                                margin-left: 5rem;
                                color: red;
                            }
                        }
                        p:last-child{
                            color: #807e7e;
                        }
                    }
                }
                .item-chat:hover{
                    background-color: #F5F5F5;
                }
                .see-all-message{
                    text-align: center;
                    padding-top: 0.5rem;
                }
            }
            .chat ,.tb{
                position: absolute;
                width: 0.8rem;
                height: 0.8rem;
                top: 0rem;
                left: 1rem;
                border-radius: 4px;
                font-size: 0.5rem;
                color: white;
                padding-left: 0.3rem;
                background-color: #DC3545;
            }
            .tb{
                background-color: #FFC107;
                width: 1rem;
                height: 0.8rem;
                left: 0.5rem;
                padding-left: 0.2rem;
            }
        }
        li:hover{
            cursor: pointer;
          color: #4C4C4C;
        }
        
    }
}

@media (min-width:1080px) { 
        nav{
            .navbar-two {
                margin-left:33rem;
            }
            .navbar-one{
                .display-hidden{
                    p{
                        display: block;
                    }
                }
            }
            .navbar-two {
                li{
                    .searchNav{
                        display: none ;
                        .search-nav{
                            top: 1rem;
                            width: 60rem;
                            left: -44rem;
                            input{
                                width: 54rem;
                            }
                            .search-nav-icon{
                                margin-left: 3%;
                                i{
                                    padding-top: 0.5rem;
                                    margin-right: 0.5rem;
                                    color: black;
                                }
                            }
                            
                        }
                    }.infro-chat{
                        left: -17rem;
                    }
            }
        }
    }
}