.context{
    width: 96%;
    margin-left: 1.5rem;
    margin-top: 50px;
    height: 3000px;

}
img{
    width: 1rem;
}
@media (min-width:1080px) { 
    .context{
        margin-top: 100px;
        
    }
}

