@import '/public/sass/scssCtsp/varibal';
.infor-login{
    .infor-login-input{
        margin-top: -10px;
    }
    .or-dk{
        position: absolute;
        top: 14rem;
        left: 11rem;
        p{
            background-color: white;
            padding: 1rem;
            color: rgb(153, 157, 157);
        }
    }
    .Angree{
        text-align: center;
        margin-top: 1rem;
        a{
            color: $redColor;
        }
    }
}
@media (min-width:1080px) { 
    .infor-login{
        .or-dk{
            top: 15rem;
        }
        
    }
}