.bordered-Table{
    @include tableAll;
    .bordered-Table-header{
        @include tableAll-Header;
        
    }
    .bordered-Table-content{
        margin-top: 1rem !important;
    }
    nav{
        margin-left: 53%;
        color: $labelBlue;
        li{
            border: 1px solid $boderContent;
            width: 1.5rem;
            text-align: center;
        }
    }
}
@media (min-width:1080px) { 
    .bordered-Table{
        @include tableAll;
        nav{
            margin-left: 60%;
        }
    }
 }