.Calendar{
    width: 22rem;
    border: 1px solid $boderContent;
    margin-top: 4rem;
    background-color: #3DA054  ;
    height: 21rem;
    .calendar-header{
        height: 5rem;
        padding: 1.5rem;
        color: white;
        .calendar-title{
            p{
                font-size: 1.2rem;
            }
        }
        nav{
            margin-left: 3.3rem;
            li{
                background-color: rgba($color: #000000, $alpha: 0.2);
                border: 1px solid $boderContent;
                width: 1.5rem;
                margin-right: 0.2rem;
                text-align: center;
            }
        }
    }
    .Calendar-content{
        .calendar-content-month{
            .calendar{
                cursor: pointer;
                text-align: center;
                padding-top: 0.2rem;
                height: 2rem;
                color: white;
            }
            .calendar:hover{
                border-radius: 5px;
                background-color: #208637;

            }
            .calendar-month {
                p{
                    padding-left: 2rem;
                }
                span{
                    padding-left: 1.7rem;
                }
            }
        }
        .calendar-content-table{
            table{
                text-align: center;
                thead{
                    th{
                        background-color: #44B25E ;
                        color: white;
                    }
                }
                tbody{
                    tr{
                        td{
                            cursor: pointer;
                            color: white;
                            padding-top: 0px;
                            padding-bottom: 3px;
                            background-color: #44B25E  ;
                        }
                        td:hover{
                            background-color: #208637;
                        }
                    }
                }
            }
        }
    }
}
.calendar-table:not(.table-active){
    display: none;
}

.dayColor{
    color: #6C757D !important;
}
.dayColor:hover{
    color: white !important;
}
@media (min-width:1080px) { 
    .Calendar{
             width: 35%;
             .calendar-header{
                nav{
                    margin-left: 22%;
                }
            }
          }
 }