.different-Height{
   @include formAll;
   height: 15rem;
    .different-Height-header{
       @include formAll-Header;
       background-color: #28A745;

    }
    .different-Height-content{
        padding-left: 1.5rem;
        .height-input-group1,.height-input-group2,.height-input-group3{
            margin-top: 1rem;
        }
        input{
            padding-left: 1rem;
            width: 18rem;
            border: 1px solid $boderContent;
            outline: none;
        }
        .height-input-group1{
            input{
                height: 3rem;
            }
        }
        .height-input-group2{
            input{
                height: 2.5rem;
                font-size: 0.9rem;
            }
        }
        .height-input-group3{
            input{
                height: 2rem;
                font-size: 0.8rem;
            }
        }
    }
}
@media (min-width:1080px) { 
    .different-Height{
        width: 96%;
        .different-Height-content{
            input{
                width: 95%;
            }
        } 
    }
}

