.Dircet-Chat{
    width: 22rem;
    border: 1px solid $boderContent;
    margin-top: 1rem;
    background-color: white;
    height: 30rem;
    .Dircet-Chat-header{
        height: 5rem;
        padding: 1.5rem;
        border-bottom: 1px solid $boderContent;
        .Dircet-Chat-title{
            p{
                font-size: 1.2rem;
            }
        }
        nav{
            li{
                margin-left: 1rem;
            }
            li:first-child{
                padding: 0.1rem 0.5rem 0.1rem 0.5rem;
                background-color: #007BFF;
                color: white;
                border-radius: 5px;
            }
        }
    }
    .Dircet-Chat-content{
        font-size: 0.7rem;
        width: 100%;
        overflow-y: scroll;
        height: 15rem;
        position: relative;
        .dircet-chat-msg ,.dircet-chat-msg-right{ 
            .name{
                font-weight: 500;
            } 
            .user-left,.user-right{
                img{
                    width: 2rem;
                    height: 2rem;
                    border-radius: 100%;
                    margin-top: 0.3rem;
                }
                p{
                    width: 90%;
                    border-radius: 5px;
                    margin-left: 0.5rem;
                    padding: 0.5rem;
                    background-color: #D2D6DE;
                }
            }
        }
        .dircet-chat-msg{
            
            .time-chat{
                margin-left: 54%;
            }
        }
        .dircet-chat-msg-right{
            .name{
                margin-left: 54%;
            }
        }
        .dircet-chat-msg-right{
            .user-right{
                p{
                    background-color: #007BFF;
                    color: white;
                    margin-right: 0.5rem;
                }
            }
        }
        
    }
    .Dircet-Chat-send{
        background-color: #F7F7F7;
        input{
            width: 77%;
            height: 2.2rem;
            padding-left: 1rem;
            outline: none;
            border: 1px solid $boderContent;
        }
        button{
            margin-top: -4px;
        }
    }
}
@media (min-width:1080px) { 
         .Dircet-Chat{
            width: 55%;
            height: 25rem;
            .Dircet-Chat-content{
                font-size: 1rem;
            }
            .Dircet-Chat-send{
                background-color: #F7F7F7;
                input{
                    width: 86%;
                }
                
            }
 }
}