.quick-Example{
    @include formAll;
    height: 28rem;
    background-color: #F4F6F9;
    .quick-Example-header{
        @include formAll-Header;
        background-color: #007BFF;
    }
    .quick-Example-content{
        background-color: white;
        padding-left: 1.5rem;
        .form-group{
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            label{
                font-weight: bold;
                padding-bottom: 0.5rem;
            }
            input:focus{
                outline: none;
                border: 1px solid rgb(112, 112, 241) !important;
            }
            input{
                width: 19rem;
                border-radius: 5px;
                height: 2.5rem;
                border: 1px solid $boderContent;
                padding-left: 0.5rem;
            }
        }
        .form-check{
            margin-top: 1rem;
            padding-left: 0;
            padding-bottom: 1rem;
        }
    }
    .quick-Example-submit{
        padding: 1rem 1rem 1rem 1.5rem;
        input{
            width: 5rem;
            height: 2.5rem;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
            border: 1px solid $boderContent;
        }
    }
}
@media (min-width:1080px) { 
    .quick-Example{
        @include formAll;
        width: 50%;
        .quick-Example-content{
            .form-group{
                input{
                    width: 90%;
                }
            }
        }
    }
 }
 