.content{
    .userInfo ,.ProductsInfo{
        width: 17rem;
        height: 4rem;
        label{
            margin-right: 0.5rem;
        }
        input{
            width: 13rem;
            height: 40px;
            padding-left:1rem ;
            border: 1px solid rgb(210, 210, 207);
        }
        input:focus{
            outline: 1px solid rgb(132, 225, 239);
        }
    }
    #idSearchUser,#idSearchProducts{
        width: 8rem ;
        height: 40px;
        margin-top: 1.5rem;
        border-radius: 3px;
        color: white;
        background-color: #0D6EFD;
        border: 1px solid rgb(210, 210, 207);
    }
    #idSearchUser:hover{
        background-color: #0d65ea;
    }
}