.simple-Full-Width-Table{
        nav{
            margin-left: -10px;
            color: $labelBlue;
            li{
                border: 1px solid $boderContent;
                width: 1.5rem;
                text-align: center;
            }
        }
}
@media (min-width:1080px) { 
    .simple-Full-Width-Table{
        nav{
            margin-left: 20%;
        }
    }
 }