.fixed-Header-Table{
    .search{
        height: 2rem;
        border-radius: 2px;
        margin-left: 20%;
        .search-input{
            input{
                width: 6rem;
                border: 1px solid $boderContent;
                height: 2rem;
                outline: none;
                padding-left: 0.3rem;
            }
        }
        .search-icon{
            background-color: #F8F9FA;
            border: 1px solid $boderContent;
            i{
                margin-top: 0rem;
                margin-left: 0.4rem;
                color: rgb(110, 107, 107);
            }
        }
        
    }
}
@media (min-width:1080px) { 
    .fixed-Header-Table{
        .search{
            margin-left: 70%;
        }
    }
 }