#vouchers{
  i:hover{
    transform: scale(1.2);
  }
    min-height: 76vh;
    height: auto ;
    max-height: 60rem;
    overflow: auto;
    .vouchers__header{
       margin-left: 1rem;
        i{
          font-size: 1.5rem;
          color: #007BFF;
        }
    }
   .vouchers__list{
  
     padding: 1rem;
    
   }
}
#model-add-voucher {
  font-size: 0.8rem;
  .modal-header{
    .modal-title {
      font-size: 1rem;
    }

  }
    .modal-body {
      form {
        div {
          margin-bottom: 0.5rem;
  
          label {
            font-weight: 500; 
          }
  
          .form-control {
            border: 1px solid #eee !important; 
  
            &:focus {
              outline: none !important; 
              border: 1px solid #eee !important;
            }
          }
        }
      }
    }
  }
  