@import '_varibale';
@import '_all';
@import '_nav';
@import '_login';
@import '_side-bar';
@import '_content-wraper-Dashboard';
@import '_content-wraper-General-Form';
@import '_content-wraper-Simple-Tables';
@import '_footer';
