$redColor:red;
$boder:rgb(233, 231, 229);
$orangeColoer:#EE4D2D;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.icon_action{
    cursor: pointer;
}
.icon_action:hover{
    transform: scale(1.5);
}
input[type="file"]{
    font-size: 0.8rem;
}
html{
    font-size: 16px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

@media (min-width:1080px) { 
   
}