.ant-select-selection-overflow-item{
    width: auto;
    height: auto;
    margin-right: 1rem;
    .ant-select-selection-item{
        width: 100%;
        height: 100%;
        padding: 3px;
        .ant-select-selection-item-content{
            font-size: 1rem;
        }
        .ant-select-selection-item-remove{
            margin-top: 0;
            height: 1rem;
        }
    }
    
}
