*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.table-order{
    text-align: center;
    position: relative;
    margin-bottom: 4rem;
    tbody{
        tr{
            td{
                text-align: center; 
                vertical-align: middle; 
                p{
                    margin-bottom: 0 ;
                }
            }
           
            td:nth-child(1){
                width: 5rem;
            }
            td:nth-child(3){
                width: 10rem;
            }
            td:nth-child(5){
                width: 7rem;
            }
            td:nth-child(2){
                width: 25rem;
                p{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 2; /* Số dòng bạn muốn hiển thị */
                    line-height: 1.2; /* Điều chỉnh độ cao của dòng */
                    max-height: 3em; /* Số dòng x độ cao của mỗi dòng */
                    margin-bottom: 1rem;
                }
              
            }
           
              
        }
    }
    .order_action{
        background-color: white;
        position: absolute;
        right: 0rem;
        bottom: -3rem;
        button{
            border-radius: 3px;
            border: 1px solid rgb(190, 186, 186);
            padding: 0.2rem 1rem;
        }
    }
}
.disabled {
    background-color: #f0f0f0;   
    color: #a0a0a0;             
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;                
    transition: background-color 0.3s ease, color 0.3s ease;
}
.img-no-order{
    width: 100%;
    min-height: 28rem;
    background-color: white;
    img{
        margin-top: 10%;
        margin-left: 35%;
    }
}
.ant-dropdown-trigger{
    margin-left: 1rem;
    border: 1px solid rgb(221, 219, 218);
    padding: 7px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
