.table-order{
    text-align: center;
    position: relative;
    margin-bottom: 4rem;
    tbody{
        tr{
            td:nth-child(1){
                width: 5rem;
            }
            td:nth-child(3){
                width: 7rem;
            }
            td:nth-child(5){
                width: 7rem;
            }
            td:nth-child(2){
                width: 20rem;
                p{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 2; /* Số dòng bạn muốn hiển thị */
                    line-height: 1.2; /* Điều chỉnh độ cao của dòng */
                    max-height: 3em; /* Số dòng x độ cao của mỗi dòng */
                    margin-bottom: 1rem;
                    font-size: 1.1rem;
                }
              
            }
           
              
        }
    }
    .order_action{
        background-color: white;
        position: absolute;
        right: 1rem;
        bottom: -3rem;
        button{
            border-radius: 3px;
            border: 1px solid rgb(190, 186, 186);
            padding: 0.5rem 1rem;
            margin-right: 2rem;
        }
    }
}
.disabled {
    background-color: #f0f0f0;     /* Màu nền nhẹ nhàng hơn */
    color: #a0a0a0;                /* Màu chữ xám nhạt để cho thấy trạng thái không hoạt động */
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;                  /* Giảm độ đậm để nhấn mạnh trạng thái disabled */
    transition: background-color 0.3s ease, color 0.3s ease;
}
.img-no-order{
    width: 100%;
    min-height: 28rem;
    background-color: white;
    img{
        margin-top: 10%;
        margin-left: 35%;
    }
}
.ant-dropdown-trigger{
    margin-left: 1rem;
    border: 1px solid rgb(221, 219, 218);
    padding: 7px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
