.chat_msg{
  margin-left: 5rem;
  padding: 1rem;
  height: auto;
  border: 1px solid rgb(216, 212, 212);
  .list-user{
    overflow-y: scroll;
    height: 30rem;
    p{
      padding: 1rem;
      width:13rem;
      border-radius: 3px;
      margin-bottom: 0;
      border: 1px solid rgb(215, 210, 210);
    }
    p:hover{
      cursor: pointer;
      color: #007BFF;
      background-color: #F3F3F3;
    }
  }
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    border: 1px solid rgb(234, 231, 231);
    overflow-y: scroll ;
    background-color: #F3F3F3;
    border-radius: 30px 10px 30px 10px;
    #img-df-chat{
      margin-left: 13%;
      width: 20rem;
      margin-top: 2rem;
      height: auto;
    }
    .messages {
      flex: 1;
      padding: 10px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      .message {
        max-width: 70%;
        padding: 10px;
        margin: 5px 0;
        border-radius: 10px;
        position: relative;
        .timestamp-hidden {
          display: none;
          position: absolute;
          bottom: -20px;
          background-color: white;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .timestamp-hidden.user {
          right: -10px;
        }
        .timestamp-hidden.admin{
          left: -10px;
        }
        &:hover { // mess hover thì hiện timestamp-hidden
          .timestamp-hidden {
            display: block;
          }
        }
      }
      .message.admin {
        align-self: flex-end;
        background-color:#D7F7EF;
      }
  
      .message.user {
        align-self: flex-start;
        background-color: white;
      }
  
      
      .timestamp {
        font-size: 0.75em;
        color: gray;
        position: absolute;
        bottom: -15px;
        right: 10px;
      }
      
    }
      
    .input-containers {
      padding: 10px;
      border-top: 1px solid #ccc;
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      button {
        padding: 10px 20px;
        margin-left: 82%;
        border: none;
        margin-top: 1rem;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #0056b3;
      }
    }
    
  }
  
}

